<h3>A new contact request has been made at Morning Star!</h3>

<h4><strong>Name: </strong><%= @contact.name %></h4>
<h4><strong>Email: </strong><%= @contact.email %></h4>
<h4><strong>Phone: </strong><%= @contact.phone %></h4>
<h4><strong>Message: </strong><%= @contact.message %></h4>
