<div class="contacts">
  <div class="contact-header contact-row">
    <div class="contact-cell contact-short">
      DATE
    </div>
    <div class="contact-cell contact-short">
      NAME
    </div>
    <div class="contact-cell contact-short">
      EMAIL
    </div>
    <div class="contact-cell contact-short">
      PHONE
    </div>
    <div class="contact-cell contact-long">
      MESSAGE
    </div>
  </div>
  <%= render @contacts %>
</div>
